* {
	margin: 0;
	padding: 0;
}

.gui{
    background:url('../img/iltis_background.png') no-repeat;
    height: 395px;
}

#w1{
    position: relative;
    left:263px;
    top:237px;
}

.dropdown-menu ul{
    list-style: none none;
}