*.suo
obj
Service References
bin
Release
Debug
ipch
*.sdf
*.sdf
*.opensdf
/.metadata/version.ini

/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects
